body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 20px;
}

.card {
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    background: aliceblue;
    display: flex;
    justify-content: space-around;
    border-bottom: 10px solid rgb(209, 230, 248);
}

.info {
    text-align: center;
}


.avatar {
    width: 150px;
}